body{
    margin: 5px;
    padding: 5px;
}
section{
    text-align: center;
}
.ocultado{
    visibility:hidden;
    opacity: 0;
}
.mostrado{
    visibility:visible;
    transition: opacity 2s;
    opacity: 1;
}
aside{
    float: right;
    margin: 5px;
}
.classError{
    background: red;
}